/* @import "./css/null";
@import "./css/.Header";
@import "./css/Nav";
@import "./css/Main";
@import "./css/Footer";  */

.app-wrapper {
}
.app__container{
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-areas: 
  "header header"
  "nav main";
  grid-template-columns: 1fr 5fr;
}
