.nav{
  background-color: #536B78;
  grid-area: nav;
}
.item{
  list-style-type: none;
}
.item:not(:last-child){
  margin-bottom: 1rem;
}
.item:first-child{
  margin-top: 2rem;
}

.link{
  text-decoration: none;
  letter-spacing: 0.3rem;
}

a{
  color: rgb(255, 217, 2);
}
